@page "/todo/{id:int}"
@inject HttpClient Client
@inject IUriHelper urihelper
@using WebAppBlazorWithNode.Extensions;
@inject Blazored.LocalStorage.ILocalStorageService localStorage

@if (Todo.Id != 0)
{
    <input type="text" name="description" @bind="@Todo.Description" />
    <input type="text" name="done" @bind="@Todo.Done" />
    @Todo.Done
    <button @onclick="Save">Salvar</button>
}
else
{
    <p>Carregando ...</p>
}

@code {

    [Parameter] public int id { get; set; }
    public Todo Todo { get; set; } = new Todo();

    public async Task Save()
    {
        await Client.PutAsync($"http://localhost:3000/todo/{Todo.Id}", Todo.GetStringContent());
        urihelper.NavigateTo("/todos");
    }
    protected override async Task OnParametersSetAsync()
    {
        Todo = await Client.GetAsync<Todo>($"http://localhost:3000/todo/{id}");
    }
}
