@page "/todo/create"
@inject HttpClient Client
@inject IUriHelper urihelper
@using WebAppBlazorWithNode.Extensions;

<input type="text" name="description" @bind="@Todo.Description" />
<input type="text" name="done" @bind="@Todo.Done" /> @Todo.Done
<button @onclick="Save">Criar</button>

@code {

    public Todo Todo { get; set; } = new Todo();

    public async Task Save()
    {
        await Client.PostAsync($"http://localhost:3000/todo", Todo.GetStringContent());
        urihelper.NavigateTo("/todos");
    }
}